img{ width: 100%; height: 100%;}
.goIn{ width: 40%; height: 3.687rem; position: absolute; top: 80%; left: 50%; margin-left: -20%; background: #ffbf3d; border: 5px solid black; border-radius: 0.625rem; color: black; font-size: 50px; font-weight: bold;}
body{ overflow-y: hidden;}
