.mineCon{ width: 100%; position: absolute; top: 0; bottom: 4.125rem; left: 0; right: 0;}
.header{ width: 100%; height: 15rem; background-color: #3b3a3a; overflow: hidden;}
.headImg{ width: 4.5rem; height: 4.5rem; border-radius: 50%; display: block; margin: 0 auto; margin-top: 5rem;}
.header p{ margin-top: 1.5rem; color: white; text-align: center;}
.order{ width: 100%; height: 12rem; background-color: white; border-bottom: 0.625rem solid #f8f8f8;}
.order li{ width: 25%; height: 50%; float: left;}
.order li img{ display: block; width: 20px; height: 20px; margin: 0 auto; margin-top: 1rem}
.order li p{ color: #929292; width: 100%; text-align: center; line-height: 2.8rem;}
.quit{ width: 80%; height: 3rem; color: white; background-color: #000000; border-radius: 3px; border: none; margin: 15px 10%;}
.set{ width: 1.85rem; position: absolute; top: 1.6rem; left: 2.5rem; border-radius: 50%;}
.tx{ width: 1.85rem; position: absolute; top: 1.5rem; right: 2.5rem;}
.integral{ width: 100%; height: 9rem; border-bottom: 0.625rem solid #f8f8f8; text-align: center; line-height: 35px; font-size: 14px;}
.integralNum{ color: #ffc906; font-size: 22px;}
.schedule{ width: 70%; height: 0.7rem; background-color: #f3f3f3; border-radius: 10px; margin-left: 15%; margin-top: 5px;}
