@charset "utf-8";
/*reset*/
body,button,input,select,textarea{font:100%/1 "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei" !important;}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0; padding:0;-webkit-text-size-adjust:100%;}
table{border-collapse:collapse;border-spacing:0;}
em,i{font-style:normal;}
li{list-style:none;}
input,img{vertical-align:middle;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}
a{text-decoration:none;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
body,html{ font-size: 12px; width: 100%; height: 100%;}



/*iphone 6plus*/
@media only screen and (min-width:414px ) {
    html,body{font-size: 16px !important;}
}

/* ipad横屏 */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){
    html,body{font-size: 22px !important;}
}

/* ipad竖屏 */
@media (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    html,body{font-size: 26px !important;}
}

/*底部*/
.footer{width: 100%; height: 4.125rem; border-top: 1px solid #d8d7db; background-color: white; display: -webkit-box; position: fixed; bottom:  0; left: 0; right: 0; overflow: hidden;}
.footer dl{-webkit-box-flex: 1; height: 100%;}
.footer dl dt{ margin: 0.625rem;}
.footer dl img{ width: 1.8rem; margin: 0 auto; display: block; }
.footer dl dd{ width: 100%; margin-left: 0; text-align: center; color: #999999; font-size: 10px;}
.weight{ color: #353535 !important;}
